.container {
    width: 100%;
    margin-bottom: 11px;
}

.headerFoodContainer {
    display: flex;
    height: 31px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.headerName {
    color: #A09C9C;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.headerPortion {
    color: #A09C9C;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.foodContainer {
    border-radius: 10px;
    border: 2px solid #FAA846;
    background: #FA881E;
}

.topSideFoodContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.spaceImage {
    margin: 10px 17px 10px 10px;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #C5C5C5;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downSideContainer{
   margin-bottom: 30px;
}

.infoItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 4px 0px;
}

.descriptionItem {
    margin-left: 10%;
    flex: 1;
    color: #FFF;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputDescriptionItem {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ajustar o padding para centralizar o texto */
    padding-left: 25px;
    margin-left: 20px;
}


.valueItem {
    
    width: 35%;  /* width ocupando 30% do espaco total de infoItem */
    color: #FFF;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.inputvalueItem {
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    margin-right: 20px;
}