.container {
    display: flex;
    flex-direction: column;
    background-color: #FAC46B;
    border-radius: 10px;
}

.header {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 13px;
    margin-bottom: 10px;
    padding-bottom: 12px;
    color: #5F4646;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #FFF;

}

.downArea {
    display: flex;
    flex-direction: column;
}

.itemDownArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.itemDescription {
    color: #5F4646;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.itemValue {
    color: #5F4646;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}