.container {
    display: flex;
    flex-direction: column;
}

.labelInput {
    color: #949494;
    margin-bottom: 1px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.styleInput {
    border-radius: 5px;
    line-height: 25px;
    height: 24px;
    border: 1px solid #DFDFDF;
    padding: 0 5px;
}