.container {
    margin: 58px 27px 24px 27px;
    height: 100vh;
}

.editButton {
    width: 40%;
    margin-bottom: 20px;
}

.nameMeal {
    color: #A09C9C;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #FAA846;
    padding-bottom: 5px;
}

.bottomArea{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}