.container {
    margin: 58px 27px 24px 27px;
    height: 100vh;
}

.editButton {
    margin-bottom: 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.nameMeal {
    color: #A09C9C;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 1px solid #FAA846;
    padding-bottom: 5px;
}

.bottomArea {
    margin-top: 30px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Cor de fundo semi-transparente */
    backdrop-filter: blur(8px);
    /* Aplica o filtro de desfoque */
    z-index: 5;
    /* Coloca a camada do fundo atrás do modal */
}